<!DOCTYPE html>
<html>
<head>
    <title>Camera 1</title>
</head>
<body>
    <h1>Camera 1</h1>
    <div id="camera-container">
        <img id="camera-feed" src="{{ url_for('video_feed') }}" style="width: 640px; height: 480px;" />
    </div>
    
    <button onclick="stopCamera()">Stop Camera</button>
    <script>
        function stopCamera() {
            fetch('/stop_camera', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        const cameraContainer = document.getElementById('camera-container');
                        cameraContainer.innerHTML = ''; // ลบภาพกล้องออก
                    }
                })
                .catch(error => console.error('Error stopping camera:', error));
        }
    </script>
</body>
</html>
